* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Karma', serif;
    font-size: 20px;
    color: #fff;
}

.header {
    background-color: #003b46;
    max-width: 1440px;
    height: 80px;
    margin: 0 auto;
}

.nav {
    height: 100%;
}

.nav-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    font-size: 24px;
    margin-left: auto;
}

.nav-list__item {
    padding: 0 16px;
}

.nav-list__item-link,
.nav-list__item-link:active,
.nav-list__item-link:visited {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #66a5ad;
    display: flex;
}

.aside {
    width: 30%;
    background-color: #003b46;
}

.section {
    padding: 0 48px 48px;
}

.section__title {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding: 12px 0 4px;
    margin: 0;
    margin-bottom: 48px;
}

.section__subtitle {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.main-title {
    font-size: 48px;
    font-weight: 400;
    margin-top: 48px;
    margin-bottom: 24px;
    background: none;
    border-bottom: none;
}

.image-wrap {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.image-wrap__image {
    box-shadow: 12px 29px 81px 0px rgba(3, 34, 36, 0.75);
}

.image-wrap::after {
    content: "";
    width: 300px;
    height: 2px;
    background: #66a5ad;
    position: absolute;
    bottom: 0;
    right: -25px;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
}

.image-wrap::before {
    content: "";
    width: 2px;
    height: 300px;
    background: #66a5ad;
    position: absolute;
    bottom: -25px;
    right: 0;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
}

.contacts__list {
    padding: 0;
    padding-left: 16px;
    margin: 0;
    list-style-type: none;
}

.contacts__list-item {
    margin-bottom: 20px;
}

.contacts__list-item:last-child {
    margin-bottom: 0;
}

.contacts__icon {
    fill: #fff;
    vertical-align: middle;
    margin-right: 8px;
}

.contacts__item-link,
.contacts__item-link:active,
.contacts__item-link:visited {
    text-decoration: none;
    color: inherit;
}

.skills__list {
    list-style-type: none;
    padding: 0;
    padding-left: 16px;
    margin: 0;
}

.skills__list-item {
    margin-bottom: 10px;
}

.skills__list-item:last-child {
    margin-bottom: 0;
}

.skills__list-item::before {
    content: '✓';
    margin-right: 16px;
}

.section__text {
    padding: 0 32px;
    margin: 0;
    line-height: 2;
}

.main {
    width: 70%;
    padding-top: 48px;
}

.footer {
    max-width: 1440px;
    min-height: 80px;
    margin: 0 auto;
    background-color: #07575b;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo-wrap {
    margin-left: 20px;
}

.footer__text-wrap {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__link,
.footer__link:active,
.footer__link:visited {
    text-decoration: none;
    color: #fff;
}

.footer__icon {
    fill: #fff;
    margin-right: 10px;
    vertical-align: middle;
}

.footer__text {
    margin: 0;
}